.page main {
    display: flex;
    height: 778px;
    justify-content: center;
    align-items: flex-start;
    gap: 57px;
    margin-top: 108px;
    width: 1140px;
}

.MyProfile {
    display: flex;
    width: 508px;
    height: 717px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 50%;
}
.section_profilebanner {
    display: flex;
    width: 508px;
    padding: 24px 52px 24px 32px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    background: var(--Tokens-Surface-White, #FFF);

    /* cards */
    box-shadow: 0 4px 84px -40px rgba(157, 167, 251, 0.40);

}

.section_attributescard {
    display: flex;
    width: 508px;
    padding: 40px 28px 60px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 10px;
    background: #FFF;
    /* cards */
    box-shadow: 0 4px 84px -40px rgba(157, 167, 251, 0.40);
}

.UserRecapGrid {
    width: 100%;
}