.chat{
  display: flex;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.chat__user {
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;
}

.chat__user_bubble {
  display: flex;
  max-width: 600px;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px 20px 0 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.00);
  background: rgba(252, 193, 182, 0.50);
  p{
    color: var(--Tokens-Typographie-Primary, #111);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.chat__ai{
  display: flex;
  flex-direction: row;
  height: auto;

  gap: 18px;

}

.chat__ai_bubble {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  gap: 10px;
    span {
    display: flex;
    max-width: 600px;
    width: 100%;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: center;
    color: var(--Tokens-Typographie-Secondary, #707070);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.chat__ai_bubble_message{
  border-radius: 20px 20px 20px 0;
  border: 1.5px solid rgba(255, 255, 255, 0.00);
  background: var(--Tokens-Surface-Background, #E7E7E7);
  color: var(--Tokens-Typographie-Primary, #111);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.075px;
  padding: 14px 20px;
}

.AiAgentCoin {
  display: flex;
  align-self: end;
  padding: 8px;
  gap: 4.211px;
  border-radius: 21.053px;
  background: var(--Tokens-Surface-Orange, #F4320B);

}