.StatsKm {
    display: flex;
    width: 42.3%;
    padding: 16px 40px 24px 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: var(--White, #FFF);

    /* cards */
    box-shadow: 0 4px 84px -40px rgba(157, 167, 251, 0.40);
}

.BarChart {
    width: 100%;
    height: 100%;
}

