.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 49px;
    margin: 0 auto;
    margin-top: 35;
    background: none;
}

.Menu {
    display: flex;
    padding: 16px 48px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.90);
}

.Menu ul {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    align-items: center;
    gap: 40px;
}

.Menu ul li p:hover {
    color: var(--Tokens-Typographie-Bleu, #0B23F4);
}

.divider{
  border-left: 1px solid #0B23F4;
  height: 17px;
}

.Menu ul button span {
    color: var(--Tokens-Surface-Bleu, #0B23F4);
    /* Body span edited */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.chatModal{
    cursor: pointer;
}

@media (max-width: 679px) and (min-width: 360px) {
    .Header{
        flex-direction: column;
        .Menu {
            margin-top: 15px;
            flex-direction: column;
            padding: 16px 24px;
            ul {
                width: 100%;
                padding-right: 0px;
                gap: 15px;
                .divider {
                    display: none;
                }
                flex-wrap: wrap;
                li {
                    width: 45%;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }

}