.StatsGrid {
    margin-top: 98px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 71px;
}
.lastPerformances, .thisWeek  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.lastPerformances {
    width: 100%;
}

.lastPerformances h2 {
    color: var(--Tokens-Typographie-Primary, #111);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ChartsBox_1 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}
.ChartsBox_2 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.thisWeek {
    width: 100%;
}

.thisWeekTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    width: 100%;
}
.thisWeek .ChartsBox_2 div {
    width: 42.3%;
}
.thisWeekTitle h2 {
    color: var(--Tokens-Typographie-Primary, #111);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.thisWeekTitle p {
    color: var(--Tokens-Typographie-Secondary, #707070);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



@media (max-width: 1140px) and (min-width: 680px) {
    .lastPerformances {    
        h2 {
            text-align: center;
        }
        .ChartsBox_1 {
            flex-direction: column;
            div{
                width: 100%;
            }
        }
    }
    .thisWeek{
        width: 100%;
        justify-content: center;
        .ChartsBox_2 {
            flex-direction: column;
            width: 100%;
            div {
                width: 100%;
            }
        }

    }

}
@media (max-width: 679px) and (min-width: 360px) {
    .lastPerformances {    
        h2 {
            text-align: center;
        }
        .ChartsBox_1 {
            flex-direction: column;
            div{
                width: 100%;
            }
        }
    }
    .thisWeek{
        width: 100%;
        justify-content: center;
        .ChartsBox_2{
            flex-direction: column;
            width: 100%;
            div {
                width: 100%;
            }
        }

    }

}