.overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: drop-shadow(4px 4px 10px rgb(1, 1, 66));
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.ChatModal {
  max-width: 1200px;
  width: 100%;
  max-height: min(900px, 80vh);
  display: flex;
  padding: 22px 33px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background: #fff;
  z-index: 1010;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  animation: slide-in 0.5s ease-out forwards;
  overflow-y: auto;
}

.ChatModal__display {
  flex: 1; /* Prend l'espace disponible */
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes slide-in {
  to {
    transform: translateX(-50%) translateY(0%); /* Arrivée : en haut + centré */
  }
}   

.ChatModal__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  gap: 79px;
  align-self: stretch;
  nav {
    align-self: flex-end;
    button {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 8px;
    }
  } 
  h1 {
    align-self: center;
  }

}

.ChatModal__header h1 {
  color: #0B23F4;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ChatModal__form {
  margin-top: auto; /* Pousse le formulaire vers le bas */
  display: flex;
  width: 66%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.ChatModal__form_suggested {
  display: flex;
  align-items: flex-start;
  gap: 13px;
  align-self: stretch;
}