.page {
  max-width: 1440px;
  height: 1024px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
}

.page_right_panel {
  width: 56%;
  height: 100%;
  display: flex;
  position: relative;
}

.bannerLogin {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  aspect-ratio: 86/109;
}

.page_right_panel__tagline {
  position: absolute;
  right:24;
  bottom: 29;
  border-radius: 50px;
  background: #FFF;
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  p {
    color:#0B23F4;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
}

.page_left_panel {
  display: flex;
  width: 44%;
  position: relative;
}

.logo {
  position: absolute;
  left: 100;
  top: 55;
  z-index: 10;
}

.SignInForm{
  width: 100%;
}

@media (max-width: 679px) and (min-width: 360px) {
  .bannerLogin{
    display: none;
  }
  .SignInForm{
    width: 100%;
  }

}